body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header, .hero, footer {
    background-color: #1f2937;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color: white;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
}