* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header, .hero, .info, .quote, .promo, footer {
    padding: 0 150px;
}

.header, .hero, footer, .header ul a  {
    background-color: #1f2937;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header ul a {
    text-decoration: none;
}

.hero {
    padding-top: 100px;
    display: flex;
}

.hero h1{
    font-size: 48px;
    font-weight: 900;
}

.hero img {
    width: 200px;
    height: 100px;
    background-color: #aaaaaa;
    display: block;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}

.promo {
    background-color: #3882f6;
    color: #f9faf8;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info img {
    display: block;
    border: 4px #3882f6 solid;
    border-radius: 5px;
}

.infopics {
    display: flex;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 100;
}